*, *::before, *::after{
  box-sizing : border-box;
}

html, body{
  padding : 0;
  margin : 0;
}

body{
  padding: 10px;
}


canvas{
  display : block;
  margin : 20px auto;
}

label, input{
  display : inline;
}

label{
  
}

.controls{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
}

.controls div{
  padding: 10px;
  background-color: lightgreen;
  border-radius: 5px;
  margin: 10px;
}

input{
  margin: 0 5px;
}

button{
  margin: 10px;
}

canvas{
  max-width: calc(100vw - 30px);
}

@media only screen and (max-width: 600px){
  .controls{
    flex-flow: column;
  }
}
